.container{
width: 100vw;
height: 100vh;
overflow: hidden;
display: flex;
flex-direction: row;
}
.content{
display: flex;
flex-direction: column;
flex: 1;
}
.items{
overflow: auto;
padding: 4px;
min-height: 0;
flex: 1;
}

@media screen and (max-width: 834px) {
    .content{
        margin-left: 85px;
    }
}